{{ ansible_managed | comment }}
OCIS_URL={{ ocis_url }}
PROXY_HTTP_ADDR={{ ocis_http_addr }}
OCIS_INSECURE={{ ocis_insecure | lower }}

OCIS_LOG_LEVEL={{ ocis_log_level }}

OCIS_CONFIG_DIR={{ ocis_config_dir }}
OCIS_BASE_DATA_PATH={{ ocis_data_path }}

IDM_ADMIN_PASSWORD={{ ocis_admin_pass }}
